ALPHA_VANTAGE_API_KEY=alpha_vantage_api_key_placeholder
OPENAI_API_KEY=openai_api_key_placeholder
BACKEND_URL=https://api.openai.com/v1
DEEP_THINK_LLM=o4-mini
QUICK_THINK_LLM=gpt-4o-mini
LLM_PROVIDER=openai
EMBEDDING_API_KEY=embedding_api_key_placeholder
EMBEDDING_MODEL=text-embedding-3-small
EMBEDDING_ENDPOINT=https://api.openai.com/v1
